.board {
  border: 1px;
  border-color: black;
  background-color: #192949;
  width: 1000px;
  height: 500px;
  position: relative;
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
}
.spaceShip {
  rotate: -63deg;
  width: 100px;
  position: absolute;
  bottom: 0;
}
.shot {
  width: 2px;
  height: 10px;
  background-color: white;
  position: absolute;
}
